body{
    background-color: rgb(29, 27, 27);
}

.navbar-brand{
    color: #8591d8;
}

.navbar-nav .nav-link {
    color: #8591d8; /* Cambia el color del texto a blanco */
    /* Otros estilos, como el color de fondo cuando se pasa el ratón por encima */
}

.navbar-nav .nav-link:hover {
    background-color: #372dc4; /* Cambia el color de fondo al pasar el ratón por encima */
    /* Otros estilos para el botón cuando se pasa el ratón por encima */
}