.btn-custom {
    background-color: #2e067a; /* Color personalizado */
    color: #ffffff; /* Color del texto en el botón */
    border-color: #6c728a; /* Color del borde */
  }

  body{
    background-color: rgb(29, 27, 27);
}


.card {
    background-color: #8591d8;
    border-radius: 15px; /* Mantén el redondeo de las esquinas */
    overflow:auto; /* Recorta contenido que se desborda */
    width: 600px;
    
  }

.fecha{
    margin-top: 20px;
}

.poster img{
    max-width: 150%; /* Ajusta el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen*/
}

.scrollable-card {
    max-height: 700px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto;
}


.paises{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.container{
    display: flex;
    margin-top: 4%;
}

.boton{
    border-radius: 15px;
}

.titulo
{
    justify-content: center;
}