<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" src= {{this.foto}} alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.nombre}}</h5>
          <p class="card-text">Género: {{this.tipo}}</p>
          <p class="card-text">Cantidad de Público: {{this.cantidadPublico}}</p>
          <p class="card-text"><small class="text-body-secondary">Estreno: {{this.fechaEstreno}}</small></p>
        </div>
      </div>
    </div>
  </div>